<div class="container">
  <div class="row">

    <form ng-submit="ChallengeFormCtrl.handleSubmit()" ng-model="ChallengeFormCtrl.formInfo">
      <div class="form-group">
          <h1>Pick a Challenge</h1>
          <div class="ach-list row">
            <div ng-repeat='challenge in ChallengeFormCtrl.challenges' 
              class="achievement col-xs-6 col-sm-3"
              ng-class="{'selected' : ChallengeFormCtrl.isSelected($index)}"
              style="{{challenge.image}}"
              ng-click="ChallengeFormCtrl.selectChallenge($index)">
              <h2>{{challenge.name}}</h2>
              <p>{{challenge.description}}</p>
            </div>
          </div>
      </div>

      <div class="form-group">
        <h1>Pick a Charity</h1>
        <select name="charity-selector" ng-model="ChallengeFormCtrl.formInfo.charity" class="form-control">
          <option value="nambla">NAMBLA</option>
        </select>
        <h1>Choose a Goal</h1>
        <div class="form-inline">
          <label for="fundraising-goal">Goal: $</label>
          <input type="text" id="fundraising-goal" ng-model="ChallengeFormCtrl.formInfo.goal" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <h1>Motivation</h1>
        <label for="motivation">Tell us why you're challenging yourself.</label>
        <textarea id="motivation" ng-model="ChallengeFormCtrl.formInfo.motivation" class="form-control"
          ng-trim="true"></textarea>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">SAVE</button>
      </div>

    </form>

  </div>
</div>