<article role="article" class="challenge panel-success panel" ng-if="UserCtrl.user.challenge">
  <div class="panel-heading">
      <h2 class="text-center panel-title">{{ UserCtrl.user.name }}'s Current Challenge</h2>
    </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <img class="challenge-image" src="/images/everest.jpg" />
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">
            <h4>{{ UserCtrl.user.challenge.challengeName }}</h4>
            <p>{{ UserCtrl.user.challenge.challengeDescription }}</p>
          </div>
          <div class="col-md-6">
            <h4>Fund Raising</h4>
            <ul class="list-unstyled">
              <li>Charity: {{ UserCtrl.user.challenge.charity }}</li>
              <li>Raised: {{ UserCtrl.user.challenge.raised }}</li>
              <li>Goal: {{ UserCtrl.user.challenge.goal }}</li>
              <li>{{ UserCtrl.user.challenge.completed }} of the way to the goal!</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h4>Why?</h4>
            <p>{{ UserCtrl.user.challenge.motivation }}</p>
            <button class="btn btn-success" ng-click="UserCtrl.donate()">Donate</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>