<div class="row">
  <div class="col-sm-3">
    <img src="/images/rick.jpg" class="user-profile-image" />
    <h2>{{ UserCtrl.user.username }}</h2>
    <ul class="list-unstyled text-left">
      <li>
        <span class="">Location: </span>
        {{ UserCtrl.user.location.city }}, {{ UserCtrl.user.location.state }}
      </li>
      <li>
        <span class="">Age: </span> {{ UserCtrl.user.age }}
      </li>
    </ul>
  </div>
  <div class="col-sm-9">
    <div ng-include="'/views/user/user-achievement.html'"></div>
    <div ng-include="'/views/user/user-lifetime-stats.html'"></div>
  </div>
</div>
