<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>Bub-rub</h2>
      <ul class="list-unstyled">
        <li>
          <span class="label">Location: </span> San Francisco, CA
        </li>
        <li>
          <span class="label">Age: </span> 29
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Challenges</h3>
        </div>
        <div class="panel-body">
          <h3>Climb Mount Everest</h3>
          
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
              <span class="sr-only">60% Complete</span>
            </div>
          </div> <!-- /progress -->
          
          
  
        </div>
      </div>
    </div>
  </div>
</div>