<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>{{ UserCtrl.username }}</h2>
      <ul class="list-unstyled">
        <li>
          <span class="label">Location: </span> San Francisco, CA
        </li>
        <li>
          <span class="label">Age: </span> 29
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      <ng-include="'/views/user/user-achievement.html'"></ng-include>
      <ng-include="'/views/user/user-lifetime-stats.html'"></ng-include>
    </div>
  </div>
</div>